@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
body{
    background:hsl(0, 0%, 95%);;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;  
}

.container{

    font-size: 15px;
    width: 800px;
    align-items: center;

    position: relative;
    display: flex;
    justify-content: space-between; 
    padding: 32px 0;
}

 
#car1{
  font-family: 'Big Shoulders Display', cursive;
    background-color:hsl(31, 77%, 52%);
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    padding:25px 20px 15px;    
}
#car2{
  font-family: 'Big Shoulders Display', cursive;
background-color: darkcyan;
padding:25px 20px 15px;
}
#car3{
  font-family: 'Big Shoulders Display', cursive;
background-color:hsl(179, 100%, 13%);
border-top-right-radius: 10px 10px;
border-bottom-right-radius: 10px 10px;
padding:25px 20px 15px;

}
h3 {
  color:hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  padding: 30px 0;
  font-size:35px;
  }
  p {
    color:hsla(0, 0%, 100%, 0.75);
    margin-bottom: 20px;
    line-height: 1.4rem;
  
    align-items: center;
  }
  a {
    width:40%;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    background-color:hsl(0, 0%, 95%);
    border: 5px solid white;
    border-radius: 25px; 
    padding: 5px 5px 5px;
    margin: 20px 0;
  }
  .link1{
    color: hsl(31, 77%, 52%);
  }
  .link2{
    color: hsl(184, 100%, 22%);
  }
  .link3{
    color: hsl(179, 100%, 13%);
  }
 a:hover{
    background-color:transparent;
    color:white;
  }
  @media screen and (max-width: 1000px){
    body>.container{
        width:50%;
    }
    a{
        /* padding: 10px 15px; */
        padding: 5px 5px 5px;
        margin: 20px 0;
    }
    a:hover:hover{
        /* padding: 16px 33px; */
        padding: 5px 5px 5px;
    }
}
@media screen and (max-width: 800px) {
    body>.container{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-bottom: 100px;
    }
   
    .car1{
        border-radius: 8px 8px 0px 0px;
    }
    .car3{
        border-radius: 0px 0px 8px 8px;
    }
    a{
        /* padding: 18px 35px; */
        padding: 5px 5px 5px;
        margin: 20px 0;
    }
    a:hover{
        /* padding: 10px 15px; */
        padding: 5px 5px 5px;
    }
}
@media screen and (max-width: 375px) {
    body>.container{
        display: flex;
        flex-direction:column;
        width: 80%;
        margin-bottom: 100px;
    }
}